* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
      "header header header"
      "main main aside"
      "footer footer footer";
  grid-template-rows: 100px 1fr 50px;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.header {
  grid-area: header;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.main {
  grid-area: main;
  background-color: purple;
  padding: 20px;
  color: white;
}

.aside {
  grid-area: aside;
  background-color: orange;
  padding: 20px;
  color: white;
}

.footer {
  grid-area: footer;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}